In [63]:
#Find 20 Day Moving Average of NIFTY
import pandas as pd
from datetime import datetime
import requests

In [3]:
enctoken="SD8LTXhtEPno49hNQHwsOfTaEq9spakQLIkNFxZXKP8ZfcBXGVdDyaonou8+eJ+3zO1kBz3HtE8UjGDE6K7Xk41luaiW1T00zKjgF8mpOr4igyYI/uH0Eg=="

In [25]:
header={
    "Authorization": f"enctoken {enctoken}"
}
startdate=datetime.strptime("2024-04-24","%Y-%m-%d").date()
enddate=datetime.strptime("2025-04-25","%Y-%m-%d").date()
print(startdate)
print(enddate)

2024-04-24
2025-04-25

In [61]:
#?user_id=MON945&oi=1&from=2024-04-24&to=2025-04-25
token=256265
tf="60minute"
url=f"https://kite.zerodha.com/oms/instruments/historical/{token}/{tf}"
param={
    "oi":1,
    "from":startdate,
    "to":enddate
}
session= requests.session()
data=session.get(url, params=param, headers=header).json()["data"]["candles"]
df=pd.DataFrame(data)
df.columns=["time","open","high","low","close","vol","OI"]
df[["time","open","high","low","close"]]
df["MA"]=df["close"].rolling(window=20).mean()
df[["time","MA"]]

                          time          MA
0     2024-04-24T09:15:00+0530         NaN
1     2024-04-24T10:15:00+0530         NaN
2     2024-04-24T11:15:00+0530         NaN
3     2024-04-24T12:15:00+0530         NaN
4     2024-04-24T13:15:00+0530         NaN
...                        ...         ...
1735  2025-04-25T11:15:00+0530  24200.4475
1736  2025-04-25T12:15:00+0530  24193.8650
1737  2025-04-25T13:15:00+0530  24189.6625
1738  2025-04-25T14:15:00+0530  24185.6075
1739  2025-04-25T15:15:00+0530  24175.7125

[1740 rows x 2 columns]